{
  "presets": [
    "react", 
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "IE >= 8"],
          "node": "current"
        },
        "useBuiltIns": "entry"
      }
    ],
    "stage-0"
  ],
  "sourceMaps": true,
  "retainLines": true,
  "comments": true,
  "plugins": [
    "fast-async",
    "transform-decorators-legacy",
    "transform-react-jsx",
    "lodash",
    "react-loadable/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}