<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Evangelize</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//js.stripe.com/v3/"></script>
  <link rel="stylesheet" href="/css/sanitize.css" />
  <link rel="stylesheet" href="/css/typography.css" />
  <link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64 128x128 256x256" href="/favicon.ico">
  <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="/css/custom.css" />
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <style></style>
</head>
<body>
  <div id="root"></div>
  <div id="loading" style="position: absolute; top: 0px;  left: 0px; bottom: 0px; right: 0px; width: 100%; height: 100%; overflow-y: hidden; overflow-x: hidden;">
    <div style="width: 100%; height: 100%; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; flex-direction: column;">
      <img
        src="/images/logo.min.svg"
        alt="logo"
        role="presentation"
        style="display: block; clear: both;"
      />
      <div style="display: block; clear: both;">Loading...</div>
    </div>
  </div>
</body>
</html>